<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-5 mx-auto border border-secondary rounded">
            <app-to-do-list *ngFor="let todo of todos | async" 
                [todoArrayElement]="todo" 
                (onRemoveToDo)="removeToDoItem($event)" 
                (onSetAsDoneToDo)="setAsDoneToDoItem($event)" 
                (onOpenDialog)="openEditDialog($event)"
                (onSwitchPositions)="switchPositions($event)">
            </app-to-do-list>
            <div class="mt-2 form-group">
                <input type="text" class="form-control" id="input-content" #inputContent (keyup)="addToDoItem($event, inputContent)">
            </div>
        </div>
    </div>
</div>

<app-update-dialog [ngStyle]="{'display':displayUpdateDialog}" [dialogToDoCon]="dialogToDoContent" [dialogToDoPos]="dialogToDoPosition" (onCloseDialog)="closeEditDialog()" (onUpdateToDo)="updateToDoItem($event)"></app-update-dialog>
